<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatBot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://code.jquery.com/jquery-4.0.0.js" integrity="sha256-9fsHeVnKBvqh3FB2HYu7g2xseAZ5MlN6Kz/qnkASV8U=" crossorigin="anonymous"></script>

</head>
<body>
    <h1>Weather Chatbot App</h1>
    <div>
        <div id="chatbox">
            <p class="botText"><span>Hi there!</span></p>
            <p class="botText"><span>Which city do you want to know the weather for ?</span></p>
        </div>
        <div id="userInput">
            <input id="textInput" type="text" name="userMessage" placeholder="Type your message"/>
            <input id="buttonInput" type="submit" value="Send"/>
        </div>
    </div> 

    <script>
    function getUserResponse(){
        let userText = $('#textInput').val();
        let userHTML = "<p class='userText'>User: <span>"+userText+"</span></p>";
        $('#textInput').val("");
        $('#chatbox').append(userHTML);

        // Auto scroll
        document.getElementById("userInput").scrollIntoView({block:'start',behavior:'smooth'});

        // GET request
        $.get("/get", {userMessage: userText})
            .done(function(data){
                // If error
                if(data.error){
                    let botHTML = "<p class='botText'>Chatbot: <span> "+data.error+"</span></p>";
                    $('#chatbox').append(botHTML);
                } else {
                    // Réponse valide météo
                    let botHTML = "<p class='botText'>Chatbot: <span>Temperature: " + data.main.temp + "°C - " + data.weather[0].description + "</span></p>";
                    $('#chatbox').append(botHTML);
                }

                // Auto scroll
                document.getElementById("chatbox").scrollIntoView({block:'end', behavior:'smooth'});
            })
            .fail(function(xhr){
                // En cas d'erreur réseau ou HTTP 400/404/500
                let errorMsg = "Error fetching data";
                try {
                    let data = JSON.parse(xhr.responseText);
                    if(data.error) errorMsg = " " + data.error;
                } catch(e){}
                let botHTML = "<p class='botText'>Chatbot: <span>"+errorMsg+"</span></p>";
                $('#chatbox').append(botHTML);
            });
        }

        $("#textInput").keypress(function(e){
            if(e.which == 13){
                getUserResponse();

            }
        });

        $('#buttonInput').click(function(){
            getUserResponse();
        })
    </script>
</body>
</html>