<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <h1>Chatbot App</h1>
    <div>
        <div id="chatbox">
            <p class="botText"><span>Hi there!</span></p>
        </div>
        <div id="userInput">
            <input id="textInput" type="text" name="userMessage" placeholder="Type your message"/>
            <input id="buttonInput" type="submit" value="Send"/>
        </div>
    </div>
</body>
</html>